:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --primary-color-logo: #000000;
  --background-color-hero-batton: #188ce8;
  --background-color-hero: #2f303a;
  --border-portfolio: #eeeeee;
  --header-color-border: #ececec;
  --background-color-profess: #f5f4fa;
  --portfolio-background: #f5f5f5;
  --svg-color: #afb1b8;
  --icon-footer-bg: rgba(255, 255, 255, 0.1);
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

li {
  list-style-type: none;
  padding-bottom: 0;
  padding-top: 0;
}

ul {
  padding-left: 0;
}

h1,
h2,
h3,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
}

@media screen and (max-width: 1199px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.container {
  margin: 0 auto;
  padding: 0 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.hero_button {
  display: inline-block;
  border-style: none;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 216px;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero_button:hover, .hero_button:focus {
  background-color: var(--background-color-hero-batton);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.page-header {
  border-bottom: 1px solid var(--header-color-border);
}

.main-nav {
  display: flex;
  align-items: center;
}

.nav-main {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
}
.site-nav > :not(:last-child) {
  margin-right: 50px;
}

.contact {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
}
.contact > :not(:last-child) {
  margin-right: 50px;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav .link:hover, .site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .link:not(:last-child) {
  margin-right: 50px;
}

.site-nav .link.current {
  color: var(--accent-color);
  position: relative;
}
.site-nav .link.current::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  content: "";
  height: 4px;
  border-radius: 4px;
  background-color: var(--accent-color);
}

.contact .link {
  color: var(--title-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact .link:hover, .contact .link:focus {
  color: var(--accent-color);
}

.icon-header {
  vertical-align: middle;
  fill: currentColor;
  margin-right: 10px;
}

.page-header {
  background-color: var(--primary-white-color);
}

.logo {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 24px;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--primary-color-logo);
  text-decoration: none;
}

.logo-accent {
  color: var(--accent-color);
}

.logo-footer {
  display: block;
  margin-bottom: 20px;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--primary-white-color);
  text-decoration: none;
}

.hero {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--background-color-hero);
}

.hero_overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 100%), url("../images/hero.jpg");
  background-position: center;
}

.hero_title {
  width: 696px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

@media screen and (max-width: 767px) {
  .benefits_list {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .benefits_list {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .benefits_list {
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .benefits_item {
    width: 100%;
  }
  .benefits_item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .benefits_item {
    width: calc((100% - 30px) / 2);
  }
  .benefits_item:not(:nth-last-child(-n+2)) {
    margin-bottom: 30px;
  }
  .benefits_item:not(:nth-child(2n)) {
    margin-right: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .benefits_item {
    width: calc((100% - 90px) / 4);
  }
  .benefits_item:not(:last-child) {
    margin-right: 30px;
  }
}

.benefits_blok {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin: 0;
  margin-bottom: 30px;
  background-color: var(--background-color-profess);
}

.benefits_after-title {
  color: var(--primary-text-color);
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  line-height: 1.1;
  margin-top: 0;
  margin-bottom: 10px;
}
@media screen and (max-width: 767px) {
  .benefits_after-title {
    text-align: center;
  }
}

.benefits_text {
  line-height: 1.71;
}

.section.prof {
  background-color: var(--background-color-profess);
}

.comanda {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 28px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  line-height: 1.1;
}
@media screen and (min-width: 1200px) {
  .comanda {
    font-size: 36px;
    line-height: 1.2;
  }
}

@media screen and (min-width: 768px) {
  .container-prof {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .container-prof {
    display: flex;
  }
}

.foto {
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (max-width: 767px) {
  .foto {
    width: 100%;
  }
  .foto:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .foto {
    width: calc((100% - 30px) / 2);
  }
  .foto:not(:nth-last-child(-n+2)) {
    margin-bottom: 30px;
  }
  .foto:not(:nth-child(2n)) {
    margin-right: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .foto {
    width: calc((100% - 90px) / 4);
  }
  .foto:not(:last-child) {
    margin-right: 30px;
  }
}

.about-team {
  padding: 30px 0 24px 0;
}
@media screen and (min-width: 1200px) {
  .about-team {
    padding: 30px 0;
  }
}

.comanda-teams {
  display: flex;
  justify-content: center;
}

.comanda-element {
  margin-bottom: 10px;
  margin-top: 0;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  line-height: 1.2;
}

.professional {
  margin-top: 10px;
  color: var(--title-text-color);
  margin-bottom: 16px;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  line-height: 1.2;
}

.social {
  display: flex;
  justify-content: center;
  padding: 0;
  margin-right: 32px;
  margin-left: 32px;
  list-style: none;
  margin-top: 16px;
}

.social-item {
  display: flex;
  width: 44px;
  height: 44px;
  color: var(--svg-color);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-item:hover, .social-item:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.social-icon {
  fill: currentColor;
}

.social .social-list + .social-list {
  margin-left: 10px;
}

@media screen and (max-width: 1199px) {
  .work {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
            clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}

.section.work {
  padding-top: 0;
}

.work_title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.work_list {
  display: flex;
  font-size: 0;
}

.work_image {
  display: block;
}

.work_item {
  position: relative;
}

.work_after-title {
  position: absolute;
  display: flex;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  width: 100%;
  height: 70px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  justify-content: center;
  align-items: center;
  bottom: 0;
  right: 0;
}

.work_list .work_item + .work_item {
  margin-left: 30px;
}

.clients_title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .clients_title {
    font-size: 36px;
    line-height: 1.2;
  }
}

.clients_list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.clients_link {
  display: inline-flex;
  width: 170px;
  height: 92px;
  color: var(--svg-color);
  border: 1px solid var(--svg-color);
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients_link:hover, .clients_link:focus {
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
}

.client_icon {
  fill: currentColor;
}

@media screen and (max-width: 767px) {
  .clients_item {
    width: calc((100% - 30px) / 2);
  }
  .clients_item:not(:nth-last-child(-n+2)) {
    margin-bottom: 30px;
  }
  .clients_item:nth-child(2n+1) {
    margin-right: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients_item {
    width: calc((100% - 60px) / 3);
  }
  .clients_item:not(:nth-last-child(-n+3)) {
    margin-bottom: 30px;
  }
  .clients_item:not(:nth-child(3n)) {
    margin-right: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .clients_item {
    width: calc((100% - 150px) / 6);
  }
  .clients_item:not(:last-child) {
    margin-right: 30px;
  }
}

.foot-site {
  background-color: var(--background-color-hero);
  padding-top: 60px;
  padding-bottom: 60px;
}

.linkWhite {
  color: var(--primary-white-color);
  text-decoration: none;
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.linkWhite:hover, .linkWhite:focus {
  color: var(--accent-color);
}

.link-footer {
  display: block;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  text-decoration: none;
  display: block;
  margin-top: 9px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-footer:hover, .link-footer:focus {
  color: var(--accent-color);
}

.footer-social {
  display: flex;
  padding: 0;
  list-style: none;
  margin-top: 16px;
}

.footer-social-item {
  display: flex;
  width: 44px;
  height: 44px;
  color: var(--primary-white-color);
  background-color: var(--icon-footer-bg);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-item:hover, .footer-social-item:focus {
  background-color: var(--accent-color);
}

.footer-social-icon {
  fill: currentColor;
}

.footer-social-list + .footer-social-list {
  margin-left: 10px;
}

.footer-title {
  color: var(--primary-white-color);
  font-weight: 700;
  letter-spacing: 0.03em;
  font-family: inherit;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.container.footer {
  display: flex;
  align-items: baseline;
}

.footer-link {
  margin-left: 70px;
}

.ul-button {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
  margin-top: 0;
  margin-bottom: 50px;
  padding-left: 0;
  list-style: none;
}

.filtr-button {
  border-radius: 4px;
  border-style: none;
  padding: 6px 22px;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  font-family: inherit;
  cursor: pointer;
  border: 1px solid transparent;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filtr-button:hover, .filtr-button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.work-portf {
  padding-bottom: 0;
}

.content .title {
  margin-top: 0px;
  margin-bottom: 4px;
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-decoration: none;
}

.text-portf {
  margin-top: 0;
  margin-bottom: 0px;
  color: var(--title-text-color);
  font-size: 16px;
  line-height: 1.88;
  text-decoration: none;
}

.card {
  display: block;
  text-decoration: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card:hover, .card:focus {
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
}

.card.text-portf {
  margin-top: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.example-top-wrap {
  position: relative;
  overflow: hidden;
}

.example-top-text {
  position: absolute;
  top: 0;
  color: var(--primary-white-color);
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 40px;
  height: 100%;
  transform: translateY(100%);
  transition: transform 300ms ease;
  overflow: auto;
}
.example:hover .example-top-text {
  transform: translateY(0);
}

.ul-portfolio {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.example {
  margin-right: 30px;
  margin-bottom: 30px;
}
.example:nth-child(3n) {
  margin-right: 0;
}
.example:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.example-img {
  display: block;
  max-width: 100%;
  height: auto;
}

.content {
  border: 1px solid var(--border-portfolio);
  padding: 20px 24px;
  border-top: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 300ms linear, visibility 300ms linear;
}

.modal {
  height: 581px;
  width: 528px;
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  transform: translate(-50%, -50%) scaleX(1) rotate(0);
  transition: transform 300ms linear;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, 0%) scaleX(0) rotate(-45deg);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  background-color: transparent;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-btn:hover, .close-btn:focus {
  fill: var(--accent-color);
}

.modal-title {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.input-wrap {
  position: relative;
}

.input-icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
}
.modal-input:focus + .input-icon {
  fill: var(--accent-color);
}

.modal-label {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
  padding-bottom: 4px;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  font-size: 14px;
  color: var(--primary-text-color);
  padding-bottom: 0;
  padding-left: 40px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus {
  border: 1px solid var(--accent-color);
}

.modal-field {
  margin-bottom: 10px;
}

.modal-text {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 5px;
  outline: transparent;
  font-size: 14px;
  color: var(--primary-text-color);
  padding: 12px 16px;
  resize: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-text:focus {
  border: 1px solid var(--accent-color);
}
.modal-text::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal-text:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal-text::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-btn {
  display: block;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 0;
}

.privacy-link {
  margin-left: 4px;
}

.check-text {
  font-size: 14px;
  color: var(--primary-text-color);
  display: flex;
  margin-top: 20px;
}

.check-text span {
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 4px;
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}
.input-check:checked + .check-text span {
  background-color: var(--accent-color);
  border: transparent;
  fill: var(--primary-white-color);
}
.input-check:focus + .check-text span {
  border-color: var(--accent-color);
}

.send-icon {
  margin-left: 10px;
}

.subscription {
  margin-left: 93px;
}

.subscription-list {
  display: flex;
  justify-content: space-between;
}

.subscription-input {
  width: 358px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  margin-right: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  font-weight: 400;
  font-family: "Roboto";
  font-size: 16px;
  line-height: 1.25;
  background-color: transparent;
  outline: none;
  color: var(--primary-white-color);
}
.subscription-input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.subscription-input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.subscription-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.subscription-input:focus {
  border: 1px solid var(--accent-color);
}

.subscription-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.privacy-link {
  color: #2196f3;
}/*# sourceMappingURL=main.css.map */