body {
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
  }
  
  li {
    list-style-type: none;
    padding-bottom: 0;
    padding-top: 0;
  }
  
  ul {
    padding-left: 0;
  }
  
  h1,
  h2,
  h3,
  p,
  ul {
    margin-top: 0;
    margin-bottom: 0;
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
    width: 100%;
  }