.logo {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 24px;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--primary-color-logo);
  text-decoration: none;
}

.logo-accent {
  color: var(--accent-color);
}

.logo-footer {
  display: block;
  margin-bottom: 20px;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--primary-white-color);
  text-decoration: none;
}
