.modal {
  
  width: 450px;
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  transform: translate(-50%, -50%) scaleX(1) rotate(0);
  transition: transform 300ms linear;
  
 
  max-width: 528px;
  width: 92%;

  @media screen and (min-width: 480px) {
    height: 609px;
  }

  @media screen and (min-width:768px) {
    height: 609px;
    width: 450px;
  }

  @media screen and (min-width:1200px) {
    height: 581px;
    width: 528px;
  }

}


.backdrop.is-hidden .modal {
  transform: translate(-50%, 0%) scaleX(0) rotate(-45deg);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  background-color: transparent;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}

.modal-title {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.input-wrap {
  position: relative;
}

.input-icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  .modal-input:focus + & {
    fill: var(--accent-color);
  }
}

.modal-label {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
  padding-bottom: 4px;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  font-size: 14px;
  color: var(--primary-text-color);
  padding-bottom: 0;
  padding-left: 40px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus {
    border: 1px solid var(--accent-color);
  }
}

.modal-field {
  margin-bottom: 10px;

}

.modal-text {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 5px;
  outline: transparent;
  font-size: 14px;
  color: var(--primary-text-color);
  padding: 12px 16px;
  resize: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus {
    border: 1px solid var(--accent-color);
  }
  &::placeholder {
    color: rgba(117, 117, 117, 0.5);
  }
}

.modal-btn {
  display: block;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 0;
  @media screen and (max-width: 479px) {
    margin-top: 10px;
  }
  }


.privacy-link {
  margin-left: 4px;
  color: #2196F3;
}

.check-text {
  font-size: 14px;
  color: var(--primary-text-color);
  display: flex;
  margin-top: 20px;
  @media screen and (max-width:1199px) {
    font-size: 12px;
    line-height: 1.2;
}
}

.check-text span {
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 4px;
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  .input-check:checked + & {
    background-color: var(--accent-color);
    border: transparent;
    fill: var(--primary-white-color);
  }
  .input-check:focus + & {
    border-color: var(--accent-color);
  }
  

}
